extends layout

block content
  h1#title.hidden-xs= title
  p#subTitle.hidden-xs= 'Welcome to ' + title
  #userLogin
    div.container
      div.form-signin
        h2.form-signin-heading Please sign in
        input(type="text", autofocus, required, placeholder="User name")#inputName.form-control
        button#loginButton.btn.btn-lg.btn-primary.btn-block Sign in
  #storyChooshing
    h2 Choose a story
    div.stories 
      #stories_list.list-group
  #voting.container-fluid
    div.voting
      div.row
        - for item in lodash.range(1,6)
          div(id="card"+item).col-lg-2.col-md-4.card.col-sm-4.col-xs-6
            img(src="/images/scrum_card_"+item+".jpg").btn.img-responsive.center-block
          - if (item == 2 || item == 4)
            div.clearfix.visible-xs
          - if (item == 3)
            div.clearfix.visible-md.visible-sm

        //- TODO: axis names
        #votes.col-lg-2.col-md-4.col-sm-4.col-xs-6
          canvas#votingResults(width=157, height=238).img-responsive.center-block
          
  include logic
