doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- script(src="javascripts/jquery.min.js")
    //- script(src="javascripts/socket.io.js")
    //- script(src="javascripts/bootstrap.min.js")
    //- script(src="javascripts/Chart.min.js")
    script(src="dist/js/scripts.js")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block content
