extends layout

block content
  h1#title.hidden-xs= title
  p#subTitle.hidden-xs= 'Welcome to ' + title

  #storyList
    - for story in stories
      div(id="card"+item).col-lg-2.col-md-4.card.col-sm-4.col-xs-6
        = 'Story name: ' + story.name + ', Story description' + story.description;

  #newStory
